.section-4 {
	background: url("../img/white-bg.png");
	padding: 45px 0 40px 0;
	.list-block {
		ul {
			margin-top: 35px;
			list-style-type: none;
			padding-left: 55px;
			li {
				background: url("../img/list.png") no-repeat top left;
				padding-left: 42px;
				font-family: $reg-font;
				font-size: 18px;
				color: #000000;
				margin-bottom: 10px;
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
}